include mixins

mixin head
	meta(charset='utf-8')
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	//- setting for mobiles
	meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale = 1.0, maximum-scale = 1.0', id='meta-viewport')
	
	title=title
	meta(name='description', content=description)
	meta(name='author', content=author)
	
	meta(name='url', content=url)
	meta(name="coverage" content="Worldwide")
	meta(name="distribution" content="Global")

	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black')

	//- Meta things and share icons
	
	//- +openGraph(title,url,description)
	//- +twitterMeta(title,url,description)
	+altFavicons

	//- Google
	//- meta(name="google-site-verification", content="xxxxxxxxxxxxxxxxxxxxxxxx")
	
	
	if (production)

		//- CSS
		link(rel='stylesheet', href='#{assets}css/min/index.css' +cachebust)

		//- GOOGLE ANALYTICS
		+googleAnalytics('XXXXXXXXXX')

		//- FONTS

		//- HTML5 SHIV, if necessary
		<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
		
		//- JQUERY
		<!--[if lte IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="#{assets}jquery/jquery_1.js"><\/script>')</script>
		<![endif]-->

		<!--[if !IE]><!-->
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="#{assets}jquery/jquery_2.js"><\/script>');
		<!--<![endif]-->
	else
		link(rel='stylesheet', href='#{assets}css/mouse/index.css' +cachebust)
		script(src="#{assets}jquery/jquery_2.js")

	//- cdnjs.com plugins

	//- SET asset path variable
	script.
		var assetPath = window.assetPath = '#{assets}';


	if production
		script.
			//- environment variable
			var isDev = window.isDev = false;
			// Block console logs
			console.log = function() {}
			console.info = function() {}
		script(src='#{assets}js/plugins.js' +cachebust)
		script(src='#{assets}js/mouse/scripts.js' +cachebust)
	else
		script.
			//- environment variable
			var isDev = window.isDev = true;
		script(src='#{assets}js/plugins.js' +cachebust)
		script(src='#{assets}js/mouse/scripts.js' +cachebust)