//- Global template vars
//- DEFINE ENV VARIABLES
- var environment = settings.env; 
- var production = environment === 'development' ? false : true;
- var assets = locals.assetPath;

//- For cache breaking
- var time = new Date();
- var cachebust = '?'+time.getHours()+''+time.getDate();

//- Include mixins and partials
include utils
include head
include mixins

doctype html
+signature()
<!--[if IE 7]><html data-ie="ie7" lang="en"><![endif]-->
<!--[if IE 8]><html data-ie="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html data-ie="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
	<!--<![endif]-->
	//- Where everything in the head lives LOL
	head
		+head()
		block pageVars

	body
		div#wrapper
			block content
			if (!production)
				+liveReload()
				//- +browserSync()
			//- +legacyWarning ( "This browser is not supported. Kindly consider using another:")
		div#mobileTester
		div#tabletTester