mixin signature
	//
		.
		**  ////////////////  **
		||                    ||
		||        ___         ||
		||       /  /\        ||
		||      /  /:/_       ||
		||     /  /:/ /\      ||
		||    /  /:/ /:/_     ||
		||   /__/:/ /:/ /\    ||
		||   \  \:\/:/ /:/    ||
		||    \  \::/ /:/     ||
		||     \  \:\/:/      ||
		||      \  \::/       ||
		||       \__\/        ||
		||                    ||
		||  ________________  ||
		||  site by elwyn.co  ||
		**  ////////////////  **


mixin legacyWarning( message )
	aside#legacy-warning
		p.message=message

		ul.new-browser-list
			li
				a(href="https://www.google.com/intl/en/chrome/browser") chrome
			li
				a(href="http://support.apple.com/en_GB/downloads/#safari") safari
			li
				a(href="http://www.mozilla.org/en-US/firefox/new") firefox

mixin twitter-share( handle, appendScript )
	- appendScript = appendScript || true
	a.twitter-follow-button(href='https://twitter.com/'+handle, data-show-count='false', data-show-screen-name='false', data-dnt='true') Follow @#{handle}
	if appendScript
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


mixin vimeo(videoID, options)
	- options = options || {};
	- _.defaults(options, { title: 0, byline: 0, portrait: 0, api: 1, autoplay: 0, loop: 0, badge: 0, color: '00adef', player_id: 'player_' + videoID, width: 500, height: 333, frameborder: 0, allowfullscreen: '' });
	- var queryStringKeys = ['title', 'byline', 'portrait', 'player_id', 'api', 'autoplay', 'loop', 'badge', 'color'];
	- var queryString = _(queryStringKeys).reduce(function (result, val) { var str = val + '=' + options[val]; return (result.length) ? result + '&' + str : str}, '');

	iframe(
		src='//player.vimeo.com/video/'+videoID+'?' + queryString, 
		width=options.width,
		height=options.height,
		frameborder=options.frameborder,
		webkitallowfullscreen=options.allowfullscreen,
		mozallowfullscreen=options.allowfullscreen,
		allowfullscreen=options.allowfullscreen,
		id='player_' + videoID
	)